{{ template "base" . }}
  {{ define "css" }}
    <!-- https://mymth.github.io/vanillajs-datepicker/#/ -->
    <link href="static/datepicker-1.3.4/datepicker-bs5.min.css" rel="stylesheet">
  {{ end }}
  {{ define "title" }}
    <title>Go DEV - DP</title>
  {{ end }}
  {{ define "content" }}
    <div class="container">
      
      <div class="row">
        <div class="col">
          <h1 class="text-center mt=3">DatePicker Test 1</h1>

          <form action="" methed="get" novalidate class="needs-validation">
            <div class="row" id="date-picker">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <center>Date Picker</center>
                <input required type="text" class="form-control" id="date" name="date" placeholder="Enter Date">
              </div>
            </div>
            <p>
            <center><button type="submit" class="btn btn-secondary">Check Date</button></center>
          </form>

          <p>
        </div>
      </div>

    </div>
  {{ end }}
  {{ define "js" }}
    <script src="static/local/date-picker.js"></script>
  {{ end }}

